<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pps.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.pps.pojo.TbOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userPointId" property="userpointid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="ownerId" property="ownerid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="goodsImage" property="goodsimage" jdbcType="VARCHAR" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsWeight" property="goodsweight" jdbcType="VARCHAR" />
    <result column="goodsVolume" property="goodsvolume" jdbcType="VARCHAR" />
    <result column="talkPrice" property="talkprice" jdbcType="DOUBLE" />
    <result column="bk1" property="bk1" jdbcType="VARCHAR" />
    <result column="bk2" property="bk2" jdbcType="VARCHAR" />
    <result column="bk3" property="bk3" jdbcType="VARCHAR" />
    <result column="goodsStatus" property="goodsstatus" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="completionTime" property="completiontime" jdbcType="DATE" />
    <result column="establishedTime" property="establishedtime" jdbcType="DATE" />
    <result column="arrivalTime" property="arrivaltime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userPointId, userId, ownerId, status, goodsImage, goodsName, goodsWeight, goodsVolume, 
    talkPrice, bk1, bk2, bk3, goodsStatus, createTime, completionTime, establishedTime, 
    arrivalTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pps.pojo.TbOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pps.pojo.TbOrderExample" >
    delete from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pps.pojo.TbOrder" >
    <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_order (id, userPointId, userId, 
      ownerId, status, goodsImage, 
      goodsName, goodsWeight, goodsVolume, 
      talkPrice, bk1, bk2, 
      bk3, goodsStatus, createTime, 
      completionTime, establishedTime, arrivalTime
      )
    values (#{id,jdbcType=INTEGER}, #{userpointid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{ownerid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{goodsimage,jdbcType=VARCHAR}, 
      #{goodsname,jdbcType=VARCHAR}, #{goodsweight,jdbcType=VARCHAR}, #{goodsvolume,jdbcType=VARCHAR}, 
      #{talkprice,jdbcType=DOUBLE}, #{bk1,jdbcType=VARCHAR}, #{bk2,jdbcType=VARCHAR}, 
      #{bk3,jdbcType=VARCHAR}, #{goodsstatus,jdbcType=INTEGER}, #{createtime,jdbcType=DATE}, 
      #{completiontime,jdbcType=DATE}, #{establishedtime,jdbcType=DATE}, #{arrivaltime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pps.pojo.TbOrder" >
    <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userpointid != null" >
        userPointId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="ownerid != null" >
        ownerId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="goodsimage != null" >
        goodsImage,
      </if>
      <if test="goodsname != null" >
        goodsName,
      </if>
      <if test="goodsweight != null" >
        goodsWeight,
      </if>
      <if test="goodsvolume != null" >
        goodsVolume,
      </if>
      <if test="talkprice != null" >
        talkPrice,
      </if>
      <if test="bk1 != null" >
        bk1,
      </if>
      <if test="bk2 != null" >
        bk2,
      </if>
      <if test="bk3 != null" >
        bk3,
      </if>
      <if test="goodsstatus != null" >
        goodsStatus,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="completiontime != null" >
        completionTime,
      </if>
      <if test="establishedtime != null" >
        establishedTime,
      </if>
      <if test="arrivaltime != null" >
        arrivalTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userpointid != null" >
        #{userpointid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null" >
        #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="goodsimage != null" >
        #{goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsweight != null" >
        #{goodsweight,jdbcType=VARCHAR},
      </if>
      <if test="goodsvolume != null" >
        #{goodsvolume,jdbcType=VARCHAR},
      </if>
      <if test="talkprice != null" >
        #{talkprice,jdbcType=DOUBLE},
      </if>
      <if test="bk1 != null" >
        #{bk1,jdbcType=VARCHAR},
      </if>
      <if test="bk2 != null" >
        #{bk2,jdbcType=VARCHAR},
      </if>
      <if test="bk3 != null" >
        #{bk3,jdbcType=VARCHAR},
      </if>
      <if test="goodsstatus != null" >
        #{goodsstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="completiontime != null" >
        #{completiontime,jdbcType=DATE},
      </if>
      <if test="establishedtime != null" >
        #{establishedtime,jdbcType=DATE},
      </if>
      <if test="arrivaltime != null" >
        #{arrivaltime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pps.pojo.TbOrderExample" resultType="java.lang.Integer" >
    select count(*) from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userpointid != null" >
        userPointId = #{record.userpointid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.ownerid != null" >
        ownerId = #{record.ownerid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.goodsimage != null" >
        goodsImage = #{record.goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsname != null" >
        goodsName = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsweight != null" >
        goodsWeight = #{record.goodsweight,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsvolume != null" >
        goodsVolume = #{record.goodsvolume,jdbcType=VARCHAR},
      </if>
      <if test="record.talkprice != null" >
        talkPrice = #{record.talkprice,jdbcType=DOUBLE},
      </if>
      <if test="record.bk1 != null" >
        bk1 = #{record.bk1,jdbcType=VARCHAR},
      </if>
      <if test="record.bk2 != null" >
        bk2 = #{record.bk2,jdbcType=VARCHAR},
      </if>
      <if test="record.bk3 != null" >
        bk3 = #{record.bk3,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsstatus != null" >
        goodsStatus = #{record.goodsstatus,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.completiontime != null" >
        completionTime = #{record.completiontime,jdbcType=DATE},
      </if>
      <if test="record.establishedtime != null" >
        establishedTime = #{record.establishedtime,jdbcType=DATE},
      </if>
      <if test="record.arrivaltime != null" >
        arrivalTime = #{record.arrivaltime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_order
    set id = #{record.id,jdbcType=INTEGER},
      userPointId = #{record.userpointid,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      ownerId = #{record.ownerid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      goodsImage = #{record.goodsimage,jdbcType=VARCHAR},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      goodsWeight = #{record.goodsweight,jdbcType=VARCHAR},
      goodsVolume = #{record.goodsvolume,jdbcType=VARCHAR},
      talkPrice = #{record.talkprice,jdbcType=DOUBLE},
      bk1 = #{record.bk1,jdbcType=VARCHAR},
      bk2 = #{record.bk2,jdbcType=VARCHAR},
      bk3 = #{record.bk3,jdbcType=VARCHAR},
      goodsStatus = #{record.goodsstatus,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=DATE},
      completionTime = #{record.completiontime,jdbcType=DATE},
      establishedTime = #{record.establishedtime,jdbcType=DATE},
      arrivalTime = #{record.arrivaltime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pps.pojo.TbOrder" >
    update tb_order
    <set >
      <if test="userpointid != null" >
        userPointId = #{userpointid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null" >
        ownerId = #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="goodsimage != null" >
        goodsImage = #{goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsweight != null" >
        goodsWeight = #{goodsweight,jdbcType=VARCHAR},
      </if>
      <if test="goodsvolume != null" >
        goodsVolume = #{goodsvolume,jdbcType=VARCHAR},
      </if>
      <if test="talkprice != null" >
        talkPrice = #{talkprice,jdbcType=DOUBLE},
      </if>
      <if test="bk1 != null" >
        bk1 = #{bk1,jdbcType=VARCHAR},
      </if>
      <if test="bk2 != null" >
        bk2 = #{bk2,jdbcType=VARCHAR},
      </if>
      <if test="bk3 != null" >
        bk3 = #{bk3,jdbcType=VARCHAR},
      </if>
      <if test="goodsstatus != null" >
        goodsStatus = #{goodsstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="completiontime != null" >
        completionTime = #{completiontime,jdbcType=DATE},
      </if>
      <if test="establishedtime != null" >
        establishedTime = #{establishedtime,jdbcType=DATE},
      </if>
      <if test="arrivaltime != null" >
        arrivalTime = #{arrivaltime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pps.pojo.TbOrder" >
    update tb_order
    set userPointId = #{userpointid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      ownerId = #{ownerid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      goodsImage = #{goodsimage,jdbcType=VARCHAR},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsWeight = #{goodsweight,jdbcType=VARCHAR},
      goodsVolume = #{goodsvolume,jdbcType=VARCHAR},
      talkPrice = #{talkprice,jdbcType=DOUBLE},
      bk1 = #{bk1,jdbcType=VARCHAR},
      bk2 = #{bk2,jdbcType=VARCHAR},
      bk3 = #{bk3,jdbcType=VARCHAR},
      goodsStatus = #{goodsstatus,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=DATE},
      completionTime = #{completiontime,jdbcType=DATE},
      establishedTime = #{establishedtime,jdbcType=DATE},
      arrivalTime = #{arrivaltime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>